
<%= form_for @link, url: shrink_path, :html => { class: "form-horizontal welcome-form", remote: true} do |f| %>

  <div class="input-group input-group-create">
    <%= f.label :full_url, class: 'control-label sr-only' %>
    <%= f.text_field :full_url, class: 'form-control input-lg', placeholder: "Enter a URL you would like shrink." %>
    <div class="input-group-btn">
      <%= button_tag raw('<i class="fa fa-link"></i>&nbsp;&nbsp;') + 'Shrink!', type: 'submit',  class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

  <div class="input-group input-group-copy" style="display:none;">
    <%= text_field_tag 'shortened_url', '',  id: 'shortened_url', class: 'form-control input-lg' %>
    <i class="fa fa-times fa-2x"></i>
    <div class="input-group-btn">
      <%= button_tag raw('<i class="fa fa-files-o"></i>&nbsp;&nbsp;') + 'Copy',
          type: 'button',
          id: 'd_clip_button',
          class: 'btn btn-lg btn-info',
          title: 'Click me to copy to clipboard.',
          data: {
            clipboard_target: 'shortened_url',
            clipboard_text: 'Default clipboard text from attribute'
          }
      %>
    </div>
  </div>

<% end %>

